.topicos {
  height: 70vh;
  background: #371665;
  color: rgba(255, 255, 255, 0.6) !important;
  padding: 90px;
}

.topicos h6 {
  color: #fff;
}
.topicos li {
  list-style: none;
  line-height: 3;
}
.rodape {
  height: 90vh;
  background: #ddd;
  height: 8vh;
}
.rodape p {
  padding-top: 6px;
}
